# Credit Risk Evaluator

In [5]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [7]:
# Import the data
credit_data_df = pd.read_csv('Resources/lending_data.csv')
credit_data_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*Replace the text in this markdown cell with your predictions, and be sure to provide justification for your guess.*

## Split the Data into Training and Testing Sets

In [8]:
# Split the data into X_train, X_test, y_train, y_test
y = credit_data_df["loan_status"].values
X = credit_data_df.drop("loan_status", axis=1)

In [9]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=100)
X_train.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
7553,9700.0,7.244,48800,0.385246,4,0,18800
52396,9200.0,7.056,47000,0.361702,3,0,17000
8469,9700.0,7.252,48800,0.385246,4,0,18800
9803,8600.0,6.763,44200,0.321267,3,0,14200
62040,10700.0,7.682,52900,0.432892,5,1,22900

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [11]:
# Train a Logistic Regression model and print the model score
model1 = LogisticRegression()
model1.fit(X_train,y_train)


print(f"Training Data Score: {model1.score(X_train, y_train)}") 
print(f"Testing Data Score: {model1.score(X_test, y_test)}")

Training Data Score: 0.9920381070298528
Testing Data Score: 0.9920553033429633

In [12]:
# Train a Random Forest Classifier model and print the model score
model2 = RandomForestClassifier()
model2.fit(X_train, y_train)

#print test score
print(f"Training Data Score: {model2.score(X_train, y_train)}") 
print(f"Testing Data Score: {model2.score(X_test, y_test)}")

Training Data Score: 0.9973001788416563
Testing Data Score: 0.9923648369789517

In [ ]:
#Which model performed better? #How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.

In [13]:
## Conclusion

#It can be seen that both models testing score are not significantly different from each other 0.9921 vs 0.9223. .
#However, if we look at the traning score, the random forest model has a higher score than logistric regression. 
#Overall, both models are good for this situation.

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*